
 @model List<UserAnswer>

@{
    ViewData["Title"] = "Your Quiz Result";
    int score = (int)ViewBag.Score;
    int total = (int)ViewBag.Total;
}

<h2>@ViewData["Title"]</h2>
<h4 class="fw-bold">Score: @score / @total</h4>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Question</th>
            <th>Your Answer</th>
            <th>Correct Answer</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var answer in Model)
        {
            var correctAnswer = answer.Question.Answers.FirstOrDefault(a => a.IsCorrect)?.Text;
            <tr>
                <td>@answer.Question.Text</td>
                <td>@answer.SelectedAnswer.Text</td>
                <td>@correctAnswer</td>
                <td>
                    @if(answer.SelectedAnswer.IsCorrect)
                    {
                        <span style="color: green;">Correct ✅ &#128075;</span>
                    }
                    else
                    {
                        <span style="color: red;">Wrong ❌</span>
                    }
                </td>
            </tr>
        }
    </tbody>
    
</table>
<a asp-controller="Quiz" asp-action="Categories" class="btn btn-success"> &#11013; Attempt Again</a>


